body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-xs: 12px;
  --font-size-6xl: 25px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-gray: #fdfdfd;
  --color-black: #000;

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-11xs: 2px;
  --br-8xs: 5px;
  --br-181xl: 200px;
}
