.desktop-1-child {
  position: absolute;
  top: 112px;
  left: 0;
  background: linear-gradient(180deg, #8db8f3, rgba(253, 252, 255, 0), #fdfcff);
  width: 1440px;
  height: 528px;
}
.vector-icon {
  position: absolute;
  height: 0.38%;
  width: 1.74%;
  top: 2.62%;
  right: 8.89%;
  bottom: 97%;
  left: 89.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.desktop-1-inner,
.group-child {
  position: absolute;
  left: 0;
  width: 1440px;
  height: 762px;
}
.group-child {
  top: 0;
  border-radius: 0 0 var(--br-181xl) var(--br-181xl);
  background-color: #00429a;
}
.desktop-1-inner {
  top: 4276px;
}
.group-div,
.group-item {
  position: absolute;
  width: 1522px;
  height: 667px;
}
.group-item {
  top: 0;
  left: 0;
  background-color: #f6f6f6;
}
.group-div {
  top: 1236px;
  left: -7px;
}
.free-resume-builder {
  margin: 0;
}
.free-resume-builder-generate-container {
  position: absolute;
  top: 165px;
  left: 100px;
  font-size: 44px;
  letter-spacing: 0.04em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  width: 550px;
  height: 151px;
}
.your-gateway-to {
  margin-block-start: 0;
  margin-block-end: 1.8px;
}
.start-building-your,
.your-gateway-to-container {
  position: absolute;
  left: 100px;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
}
.your-gateway-to-container {
  top: 404px;
  display: inline-block;
  width: 550px;
  height: 127px;
}
.start-building-your {
  top: 341px;
  font-size: var(--font-size-6xl);
}
.build-your-professional,
.discover-the-benefits,
.select-from-a {
  position: absolute;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.04em;
  line-height: 150%;
}
.build-your-professional {
  top: 688px;
  left: 403px;
}
.discover-the-benefits,
.select-from-a {
  top: 1267px;
  left: calc(50% - 352px);
}
.discover-the-benefits {
  top: 1951px;
  left: calc(50% - 441px);
}
.build-your-resume,
.select-a-template {
  position: absolute;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
}
.build-your-resume {
  top: 4344px;
  left: calc(50% - 515px);
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  text-align: center;
  width: 1030px;
}
.select-a-template {
  top: 69px;
  left: 0;
  font-weight: 300;
  width: 137px;
  height: 23px;
}
.group-inner {
  position: absolute;
  top: 0.8px;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0052c1;
  width: 40.3px;
  height: 40.8px;
  transform: rotate(-1.15deg);
  transform-origin: 0 0;
}
.div {
  position: absolute;
  top: 5.8px;
  left: 14px;
  letter-spacing: 0.04em;
  line-height: 150%;
}
.ellipse-parent {
  position: absolute;
  top: 0;
  left: 48px;
  width: 41.1px;
  height: 41.7px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.select-a-template-parent {
  position: absolute;
  top: 1069px;
  left: 209px;
  width: 137px;
  height: 92px;
}
.customize-your-resume,
.div1 {
  position: absolute;
  letter-spacing: 0.04em;
  line-height: 150%;
}
.customize-your-resume {
  top: 69px;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 170px;
  height: 23px;
}
.div1 {
  top: 5.8px;
  left: 15px;
}
.ellipse-group {
  position: absolute;
  top: 0;
  left: 64px;
  width: 41.1px;
  height: 41.7px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.customize-your-resume-parent {
  position: absolute;
  top: 1069px;
  left: 645px;
  width: 170px;
  height: 92px;
}
.ellipse-container,
.ellipse-parent1 {
  position: absolute;
  top: 2271px;
  left: 699px;
  width: 41.1px;
  height: 41.7px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.ellipse-parent1 {
  top: 2627px;
}
.download-in-pdf {
  position: absolute;
  top: 69px;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 220px;
  height: 23px;
}
.ellipse-parent2 {
  position: absolute;
  top: 0;
  left: 89px;
  width: 41.1px;
  height: 41.7px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.download-in-pdf-doc-or-txt-parent {
  position: absolute;
  top: 1069px;
  left: 1034px;
  width: 220px;
  height: 92px;
}
.arrow-icon,
.desktop-1-item {
  position: absolute;
  top: 1090px;
  left: 480px;
  width: 29px;
  height: 0.2px;
  object-fit: contain;
}
.arrow-icon {
  left: 910px;
}
.explore-a-diverse {
  position: absolute;
  top: 1340px;
  left: 205px;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 1030px;
  height: 98px;
}
.group-icon {
  position: absolute;
  top: 1836px;
  left: 639px;
  width: 162px;
  height: 10px;
}
.button-bg-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  height: 36px;
}
.button,
.button-bg-icon,
.normal {
  position: absolute;
  width: 190px;
}
.normal {
  top: 10px;
  left: 0;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
}
.button {
  top: 2026px;
  left: 625px;
  height: 36px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.choose-a-template,
.craft-your-resume {
  position: absolute;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
}
.craft-your-resume {
  top: 63px;
  font-weight: 300;
  width: 511px;
  height: 115px;
}
.choose-a-template {
  top: 0;
  font-size: var(--font-size-6xl);
  width: 321.2px;
}
.craft-your-resume-swiftly-and-parent {
  position: absolute;
  top: 2203px;
  left: 829px;
  width: 511px;
  height: 178px;
}
.tailor-your-resume {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 1032px;
  height: 81px;
}
.tailor-your-resume-to-cater-to-wrapper {
  position: absolute;
  top: 4417px;
  left: 205px;
  width: 1032px;
  height: 81px;
  color: var(--color-white);
}
.experience-a-resume,
.transform-and-refine {
  position: absolute;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
  width: 515px;
}
.experience-a-resume {
  top: 101px;
  font-weight: 300;
  height: 176px;
}
.transform-and-refine {
  top: 0;
  font-size: var(--font-size-6xl);
}
.engage-in-the-transformative-p-parent,
.experience-a-resume-makeover-l-parent {
  position: absolute;
  top: 2505px;
  left: 100px;
  width: 515px;
  height: 277px;
}
.engage-in-the-transformative-p-parent {
  top: 3221px;
}
.craft-a-matching,
.elevate-your-job {
  position: absolute;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
  width: 518px;
}
.elevate-your-job {
  top: 63px;
  font-weight: 300;
  height: 176px;
}
.craft-a-matching {
  top: 0;
  font-size: var(--font-size-6xl);
}
.elevate-your-job-application-w-parent {
  position: absolute;
  top: 3918px;
  left: 100px;
  width: 518px;
  height: 239px;
}
.enhance-your-project-effortles-parent {
  position: absolute;
  top: 2856px;
  left: 825px;
  width: 515px;
  height: 277px;
}
.desktop-1-child1 {
  position: absolute;
  top: 2308px;
  left: 720px;
  width: 0;
  height: 319px;
  object-fit: contain;
}
.ellipse-parent3 {
  position: absolute;
  top: 2967px;
  left: 699px;
  width: 41.1px;
  height: 41.7px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.desktop-1-child2 {
  position: absolute;
  top: 2663px;
  left: 720px;
  width: 0;
  height: 304px;
  object-fit: contain;
}
.ellipse-parent4 {
  position: absolute;
  top: 3327px;
  left: 699px;
  width: 41.1px;
  height: 41.7px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.desktop-1-child3 {
  position: absolute;
  top: 3005px;
  left: 720px;
  width: 0;
  height: 322px;
  object-fit: contain;
}
.ellipse-parent6,
.group-child8 {
  position: absolute;
  top: 312px;
  left: 0;
  width: 41.1px;
  height: 41.7px;
}
.group-child8 {
  top: 40px;
  left: 21px;
  width: 0;
  height: 271px;
  object-fit: contain;
}
.ellipse-parent5 {
  position: absolute;
  top: 3696px;
  left: 699px;
  width: 41.1px;
  height: 353.7px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.generate-limitless-resumes,
.unleash-your-potential {
  position: absolute;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
  width: 504px;
}
.unleash-your-potential {
  top: 101px;
  font-weight: 300;
  height: 176px;
}
.generate-limitless-resumes {
  top: 0;
  font-size: var(--font-size-6xl);
}
.unleash-your-potential-and-cra-parent {
  position: absolute;
  top: 3558px;
  left: 836px;
  width: 504px;
  height: 277px;
}
.desktop-1-child4 {
  position: absolute;
  top: 3363px;
  left: 720px;
  width: 0;
  height: 333px;
  object-fit: contain;
}
.button-icon,
.ivy-league-cover-letter-templa-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 274px;
  height: 388px;
  object-fit: cover;
}
.button-icon {
  top: 110px;
  left: 57px;
  width: 159.8px;
  height: 159.8px;
  object-fit: contain;
}
.ivy-league-cover-letter-templa-parent,
.modern-resume-template-76d7bee-icon {
  position: absolute;
  top: 4px;
  left: 0;
  width: 274px;
  height: 388px;
}
.modern-resume-template-76d7bee-icon {
  top: 0;
  width: 275px;
  object-fit: cover;
}
.button-icon2,
.modern-resume-template-76d7bee-parent {
  position: absolute;
  top: 4px;
  left: 319px;
  width: 275px;
  height: 388px;
}
.button-icon2 {
  top: 110px;
  left: 56px;
  width: 159.8px;
  height: 159.8px;
  object-fit: contain;
}
.button-icon3,
.stylish-resume-template-1-1582-parent {
  position: absolute;
  top: 4px;
  left: 639px;
  width: 274px;
  height: 388px;
}
.button-icon3 {
  top: 114px;
  left: 58px;
  width: 159.8px;
  height: 159.8px;
  object-fit: contain;
}
.creative-resume-template-1-686-parent,
.group-parent {
  position: absolute;
  top: 0;
  left: 958px;
  width: 275px;
  height: 388px;
}
.group-parent {
  top: 4523px;
  left: 106px;
  width: 1233px;
  height: 392px;
}
.rezime-ai-resume {
  position: absolute;
  top: 5078px;
  left: calc(50% - 244px);
  font-size: var(--font-size-13xl);
  letter-spacing: 0.04em;
  line-height: 150%;
}
.rezime-logo-main-nob-1 {
  position: absolute;
  top: 2271px;
  left: 829px;
  width: 982.9px;
  height: 987.6px;
  object-fit: contain;
}
.a-resume-builder,
.what-is-a {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
  width: 572px;
}
.a-resume-builder {
  top: 72px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  height: 244px;
}
.what-is-a-resume-builder-parent {
  position: absolute;
  top: 5151px;
  left: 100px;
  width: 572px;
  height: 316px;
  font-size: var(--font-size-6xl);
}
.is-rezime-ai,
.rezime-ai-resume1 {
  position: absolute;
  top: 0;
  left: 4.5px;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
  width: 571.5px;
}
.rezime-ai-resume1 {
  top: 76px;
  left: 0;
  font-size: var(--font-size-mini);
  font-weight: 300;
  width: 576px;
}
.is-rezime-ai-builder-free-parent {
  position: absolute;
  top: 5151px;
  left: 764px;
  width: 576px;
  height: 191px;
  font-size: var(--font-size-6xl);
}
.is-it-neccessary {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
  width: 576px;
}
.harness-the-efficiency,
.is-it-neccessary-to-tailor-my-wrapper {
  position: absolute;
  top: 5367px;
  left: 764px;
  width: 576px;
  height: 76px;
  font-size: var(--font-size-6xl);
}
.harness-the-efficiency {
  top: 72px;
  left: 0;
  font-size: var(--font-size-mini);
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  height: 161px;
}
.how-long-does-it-takes-to-make-parent {
  position: absolute;
  top: 5492px;
  left: 100px;
  width: 576px;
  height: 233px;
  font-size: var(--font-size-6xl);
}
.yes-you-absolutely-container {
  position: absolute;
  top: 5493px;
  left: 771px;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 569px;
}
.rectangle-div {
  position: absolute;
  top: 5768px;
  left: -1px;
  background-color: #d9d9d9;
  width: 1440px;
  height: 225px;
}
.desktop-1-child5,
.desktop-1-child6 {
  position: absolute;
  top: 5768px;
  left: -84px;
  width: 556.7px;
  height: 225px;
}
.desktop-1-child6 {
  left: 972px;
  width: 554px;
}
.build-your-customized {
  position: absolute;
  top: 5826px;
  left: calc(50% - 268px);
  font-size: var(--font-size-13xl);
  letter-spacing: 0.04em;
  line-height: 150%;
}
.rezime-logo-main-horizontal-no {
  position: absolute;
  top: 6049px;
  left: 80px;
  width: 181px;
  height: 36px;
  object-fit: cover;
}
.rezime-is-a {
  position: absolute;
  top: 6110px;
  left: 102px;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
  width: 230px;
}
.rezime-is-a,
.span {
  font-weight: 300;
}
.call-us-234-container,
.email-us-inforezimecom-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
  width: 230px;
}
.email-us-inforezimecom-container {
  top: 48px;
}
.call-us-234-812-456-6789-parent {
  position: absolute;
  top: 6340px;
  left: 895px;
  width: 230px;
  height: 71px;
}
.resume,
.resume-builder-resume-container {
  position: absolute;
  left: 452px;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
}
.resume-builder-resume-container {
  top: 6110px;
  font-weight: 300;
  width: 230px;
}
.resume {
  top: 6047px;
  font-size: var(--font-size-6xl);
  width: 114px;
}
.cover-letter {
  margin: 0;
  white-space: pre-wrap;
}
.cover-letter-builder-container {
  top: 6110px;
  left: 801px;
  font-weight: 300;
  width: 230px;
}
.about-us-contact-container,
.cover-letter-builder-container,
.cover-letter1,
.support {
  position: absolute;
  letter-spacing: 0.04em;
  line-height: 150%;
  display: inline-block;
}
.about-us-contact-container {
  top: 6110px;
  left: 1150px;
  font-weight: 300;
  width: 230px;
}
.cover-letter1,
.support {
  top: 6049px;
  left: 799px;
  font-size: var(--font-size-6xl);
  width: 170px;
}
.support {
  top: 6047px;
  left: 1150px;
}
.line-icon {
  position: absolute;
  top: 6498px;
  left: 100px;
  width: 1236px;
  height: 1px;
  object-fit: contain;
}
.creative-resume-template-1-686-icon1,
.stylish-resume-template-1-1582-icon1 {
  position: absolute;
  top: 130px;
  left: 917px;
  width: 272px;
  height: 386px;
  object-fit: cover;
}
.creative-resume-template-1-686-icon1 {
  top: 153px;
  left: 956px;
  width: 274px;
}
.double-column-resume-template-icon,
.modern-resume-template-76d7bee-icon1 {
  position: absolute;
  top: 190px;
  left: 1012px;
  width: 258px;
  height: 365px;
  object-fit: cover;
}
.double-column-resume-template-icon {
  top: 221px;
  left: 1076px;
}
.button-bg-icon1,
.normal1 {
  position: absolute;
  width: 100%;
  left: 0;
}
.button-bg-icon1 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-11xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.normal1 {
  top: 27.78%;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
}
.button1 {
  position: absolute;
  top: 556px;
  left: 100px;
  width: 190px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.ivy-league-cover-letter-templa-icon1 {
  position: absolute;
  top: 1467px;
  left: 111px;
  width: 247px;
  height: 339px;
  object-fit: cover;
}
.group-child9 {
  position: absolute;
  top: 3.5px;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0052c1;
  width: 23.6px;
  height: 23.9px;
  transform: rotate(-1.15deg);
  transform-origin: 0 0;
}
.div9 {
  position: absolute;
  top: 0;
  left: 7px;
  letter-spacing: 0.04em;
  line-height: 150%;
}
.desktop-1-inner1,
.ellipse-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.1px;
  height: 30px;
}
.desktop-1-inner1 {
  top: 1622px;
  left: 100px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.creative-resume-template-1-686-icon2 {
  position: absolute;
  top: 1467px;
  left: 443px;
  width: 240px;
  height: 339px;
  object-fit: cover;
}
.double-column-resume-template-icon1,
.modern-resume-template-76d7bee-icon2 {
  position: absolute;
  top: 1467px;
  left: 768px;
  width: 239px;
  height: 338px;
  object-fit: cover;
}
.modern-resume-template-76d7bee-icon2 {
  left: 1092px;
  width: 238px;
}
.div10 {
  position: absolute;
  top: 0;
  left: 8px;
  letter-spacing: 0.04em;
  line-height: 150%;
}
.desktop-1-inner2 {
  position: absolute;
  top: 1621px;
  left: 1316px;
  width: 24.1px;
  height: 30px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.button2 {
  top: 5899px;
  left: 623px;
  color: var(--color-white);
}
.button2,
.button3,
.button4 {
  position: absolute;
  width: 190px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-sm);
}
.button3 {
  top: 4940px;
  left: 1150px;
  color: #0052c1;
}
.button4 {
  top: 6409px;
  left: 382px;
  color: var(--color-white);
}
.vector-icon1 {
  position: absolute;
  height: 0.24%;
  width: 1.11%;
  top: 2.22%;
  right: 10.9%;
  bottom: 97.54%;
  left: 87.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.desktop-1-child7 {
  position: absolute;
  top: 812px;
  left: 207px;
  width: 142px;
  height: 230px;
}
.desktop-1-child8 {
  position: absolute;
  top: 814px;
  left: 633px;
  width: 195px;
  height: 225px;
}
.desktop-1-child9 {
  position: absolute;
  top: 799px;
  left: 1071px;
  width: 145px;
  height: 255px;
}
.curve-arrow-1,
.curve-arrow-2 {
  position: absolute;
  top: 884px;
  left: 469px;
  width: 86.1px;
  height: 78.7px;
  object-fit: contain;
}
.curve-arrow-2 {
  left: 907px;
}
.group-child11,
.group-child12 {
  position: absolute;
  top: 53.7px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 508.8px;
  height: 277.3px;
}
.group-child12 {
  top: 0;
  width: 138.7px;
  height: 38px;
}
.resume-templates,
.resume-templates-wrapper {
  position: absolute;
  width: 124.1px;
  height: 22.4px;
}
.resume-templates {
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
}
.resume-templates-wrapper {
  top: 7.8px;
  left: 6.7px;
}
.group-child13,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 138.7px;
  height: 38px;
}
.group-child13 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 118.5px;
}
.recommended,
.recommended-wrapper {
  position: absolute;
  width: 99.5px;
  height: 22.4px;
}
.recommended {
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
}
.recommended-wrapper {
  top: 7.8px;
  left: 8.9px;
}
.group-child14,
.rectangle-container {
  position: absolute;
  top: 0;
  left: 190.1px;
  width: 118.5px;
  height: 38px;
}
.group-child14 {
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 149.8px;
}
.more-templates,
.more-templates-wrapper {
  position: absolute;
  width: 106.2px;
  height: 22.4px;
}
.more-templates {
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
}
.more-templates-wrapper {
  top: 7.8px;
  left: 21.2px;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 360.1px;
  width: 149.8px;
  height: 38px;
}
.creative-resume-template-1-686-icon3,
.double-column-resume-template-icon2 {
  position: absolute;
  top: 0;
  left: 291.9px;
  width: 165.5px;
  height: 248.3px;
  object-fit: cover;
}
.double-column-resume-template-icon2 {
  top: 2.2px;
  left: 0;
}
.creative-resume-template-1-686-group {
  position: absolute;
  top: 66px;
  left: 24.6px;
  width: 457.4px;
  height: 250.5px;
}
.group-container,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 509.9px;
  height: 316.5px;
}
.rectangle-parent {
  top: 2117px;
  left: 100px;
  height: 331px;
  font-size: var(--font-size-xs);
}
.group-child15,
.group-child16 {
  position: absolute;
  top: 48px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 209px;
  height: 248px;
}
.group-child16 {
  top: 0;
  height: 34px;
}
.preview-resume,
.preview-resume-wrapper {
  position: absolute;
  width: 187.1px;
  height: 20px;
}
.preview-resume {
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
}
.preview-resume-wrapper {
  top: 7px;
  left: 10.1px;
}
.group-child17,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 209px;
  height: 34px;
}
.group-child17 {
  top: 61px;
  left: 30px;
  width: 148px;
  height: 222px;
  object-fit: cover;
}
.group-parent1,
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 209px;
  height: 283px;
}
.rectangle-parent2 {
  top: 3197px;
  left: 929px;
  height: 296px;
  font-size: var(--font-size-xs);
}
.group-child18 {
  position: absolute;
  top: 27.1px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 371px;
  height: 297.7px;
}
.work-1-icon {
  position: absolute;
  top: 0;
  left: 21.4px;
  width: 328.1px;
  height: 331.5px;
  object-fit: cover;
}
.group-child19,
.rectangle-parent4 {
  position: absolute;
  top: 2815px;
  left: 166px;
  width: 371px;
  height: 331.5px;
}
.group-child19 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 298px;
  height: 167.5px;
}
.generate-new-resume,
.were-here-to {
  position: absolute;
  top: 106.3px;
  left: 23.1px;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 251.8px;
  height: 41.6px;
}
.generate-new-resume {
  top: 10.4px;
  left: 53.1px;
  font-size: var(--font-size-mini);
  text-align: left;
  width: 191.7px;
  height: 26.6px;
}
.writing-svgrepo-com-1-icon {
  position: absolute;
  top: 55.4px;
  left: 123.6px;
  width: 50.8px;
  height: 50.8px;
  overflow: hidden;
}
.rectangle-parent5 {
  position: absolute;
  top: 63.5px;
  left: 0;
  width: 298px;
  height: 167.5px;
}
.upload-file-svgrepo-com-1-icon {
  position: absolute;
  top: 55.4px;
  left: 129.4px;
  width: 38.1px;
  height: 38.1px;
  overflow: hidden;
}
.i-already-have,
.well-restructure-and {
  position: absolute;
  top: 109.7px;
  left: 26.6px;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 251.8px;
  height: 21.9px;
}
.i-already-have {
  top: 10.4px;
  left: 37px;
  font-size: var(--font-size-mini);
  text-align: left;
  width: 224.1px;
}
.group-parent2,
.rectangle-parent6 {
  position: absolute;
  top: 0;
  left: 196.4px;
  width: 298px;
  height: 167.5px;
}
.group-parent2 {
  top: 2513px;
  left: 843px;
  width: 494.3px;
  height: 231px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 381.3px;
  height: 226px;
}
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 137.9px;
  height: 194.7px;
  object-fit: cover;
}
.add-icon,
.doc-icon,
.layer1-icon,
.page-1-icon {
  position: absolute;
  width: 13.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer1-icon {
  height: 23.06%;
  top: 38.83%;
  right: 73.88%;
  bottom: 38.11%;
  left: 12.9%;
  object-fit: contain;
}
.add-icon,
.doc-icon,
.page-1-icon {
  height: 25.12%;
  top: 37.49%;
  right: 37.18%;
  bottom: 37.39%;
  left: 49.6%;
}
.add-icon,
.doc-icon {
  height: 96.83%;
  width: 38.72%;
  top: 0;
  right: 0;
  bottom: 3.17%;
  left: 61.28%;
}
.doc-icon {
  height: 97.23%;
  width: 42.07%;
  top: 2.57%;
  right: 57.93%;
  bottom: 0.2%;
  left: 0;
}
.page-1 {
  position: absolute;
  height: 25.94%;
  width: 31.27%;
  top: 36.93%;
  right: 0;
  bottom: 37.13%;
  left: 68.73%;
}
.group-parent3 {
  position: absolute;
  top: 19.7px;
  left: 30.1px;
  width: 314.7px;
  height: 194.7px;
}
.rectangle-parent7 {
  position: absolute;
  top: 3573px;
  left: 163px;
  width: 381.3px;
  height: 226px;
}
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 100%;
  width: 18.92%;
  top: 0;
  right: 81.08%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3 {
  right: 54.31%;
  left: 26.76%;
}
.group-child23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  width: 39.3px;
  height: 38.6px;
}
.vector-icon4 {
  position: absolute;
  height: 58.81%;
  width: 57.76%;
  top: 21.5%;
  right: 21.12%;
  bottom: 19.69%;
  left: 21.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent8,
.vector-icon5 {
  position: absolute;
  top: 0;
  left: 109.3px;
  width: 39.3px;
  height: 38.6px;
}
.vector-icon5 {
  height: 62.69%;
  width: 34.61%;
  top: 19.69%;
  right: 32.57%;
  bottom: 17.62%;
  left: 32.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent9,
.vector-parent {
  position: absolute;
  top: 0;
  left: 164.7px;
  width: 39.3px;
  height: 38.6px;
}
.vector-parent {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.desktop-1-inner3,
.group-child25 {
  position: absolute;
  height: 0.56%;
  width: 14.17%;
  top: 92.71%;
  right: 59.79%;
  bottom: 6.72%;
  left: 26.04%;
}
.group-child25 {
  height: 58.33%;
  width: 4.34%;
  top: 13.33%;
  right: 95.66%;
  bottom: 28.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.copyright-2023-all {
  position: absolute;
  top: 0;
  left: 24.1px;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 332.9px;
}
.group-parent4 {
  position: absolute;
  height: 0.44%;
  width: 24.79%;
  top: 95.28%;
  right: 37.64%;
  bottom: 4.28%;
  left: 37.57%;
  font-size: var(--font-size-xl);
}
.group-child26 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.group-child26,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 476.7px;
  height: 290px;
}
.cover-letter-template-cubic3x-icon,
.cover-letter-templates-icon {
  position: absolute;
  top: 7.4px;
  left: 242.5px;
  width: 167.7px;
  height: 237.3px;
  object-fit: cover;
}
.cover-letter-templates-icon {
  top: 0;
  left: 0;
  width: 168.7px;
  height: 238.3px;
}
.cover-letter-template-cubic3x-parent {
  position: absolute;
  top: 26.4px;
  left: 29.5px;
  width: 410.2px;
  height: 244.7px;
}
.button5,
.group-parent5 {
  position: absolute;
  top: 3891px;
  left: 850px;
  width: 476.7px;
  height: 290px;
}
.button5 {
  top: 38px;
  left: 1246px;
  width: 94px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.group-child27 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 79px;
}
.rezime-logo-main-horizontal-no1 {
  position: absolute;
  top: 14px;
  left: 74px;
  width: 256.8px;
  height: 53px;
  object-fit: cover;
}
.about {
  position: absolute;
  top: 28px;
  left: 1157px;
  color: var(--color-black);
  display: inline-block;
  width: 47.6px;
  height: 24px;
}
.arrow-drop-down,
.tools {
  position: relative;
}
.arrow-drop-down {
  width: 24px;
  height: 24px;
}
.tools-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.component-1-inner {
  position: absolute;
  height: 52%;
  width: 59.18%;
  top: 0;
  right: 40.82%;
  bottom: 48%;
  left: 0;
  color: var(--color-black);
}
.cover-letter-builder,
.resume-builder1 {
  position: absolute;
  top: 46%;
  left: 8.16%;
  display: none;
}
.cover-letter-builder {
  top: 78%;
  left: 10.2%;
}
.component-1 {
  position: absolute;
  top: 38px;
  left: 849px;
  width: 4.9px;
  height: 5px;
}
.component-3-inner {
  position: absolute;
  height: 50%;
  width: 59.32%;
  top: 0;
  right: 40.68%;
  bottom: 50%;
  left: 0;
  color: var(--color-black);
}
.cover-letter-builder1,
.resume-builder2 {
  position: absolute;
  top: 46.67%;
  left: 8.47%;
  display: none;
}
.cover-letter-builder1 {
  top: 76.67%;
  left: 10.17%;
}
.component-3 {
  position: absolute;
  top: 40px;
  left: 1078px;
  width: 5.9px;
  height: 3px;
}
.component-2-inner {
  position: absolute;
  height: 50%;
  width: 56.67%;
  top: 0;
  right: 43.33%;
  bottom: 50%;
  left: 0;
  color: var(--color-black);
}
.cover-letter-builder2,
.resume-builder3 {
  position: absolute;
  top: 45%;
  left: 10%;
  display: none;
}
.cover-letter-builder2 {
  top: 80%;
}
.button6,
.component-2 {
  position: absolute;
  top: 39px;
  left: 956px;
  width: 3px;
  height: 2px;
}
.button6 {
  top: 22px;
  left: 1226px;
  width: 113px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.rectangle-parent10 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 1440px;
  height: 79px;
  font-size: var(--font-size-base);
  color: var(--color-gray);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 6848px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
